Match the given input patterns using RE

In [6]:
import re

In [13]:


txt = """
aif Ali Khan (pronounced [ˈsæːf əˈli xaːn]; born Sajid Ali Khan Pataudi; 16 August 1970)[1] is an Indian actor and film producer who primarily works in Hindi and Telugu films The current head of the Pataudi family and the 10th titular Nawab of Pataudi[2], he is the son of actress Sharmila Tagore and cricketer Mansoor Ali Khan Pataudi. Khan has won several awards, including a National Film Award and seven Filmfare Awards, and received the Padma Shri, the fourth highest Indian civilian award in 2010.[3]

Khan made his acting debut in Parampara (1993), and had success in the multi-starrers Yeh Dillagi (1994), Main Khiladi Tu Anari (1994), Kachche Dhaage (1999) and Hum Saath-Saath Hain (1999). In the 2000s, he gained praise and won multiple awards for his roles in the romantic comedies Dil Chahta Hai (2001) and Kal Ho Naa Ho (2003), and had success as a solo male star in the romances Hum Tum (2004), Parineeta, Salaam Namaste (both 2005) and Ta Ra Rum Pum (2007).

Khan also earned critical acclaim for playing a manipulative businessman in Ek Hasina Thi (2004), an apprentice in the English film Being Cyrus (2006) and the Iago character in Omkara (2006). He had further commercial success in the action thrillers Race (2008) and Race 2 (2013), and the romantic comedies Love Aaj Kal (2009) and Cocktail (2012). Between another string of under-performing ventures, Khan was appreciated for headlining Netflix's first original Indian series Sacred Games (2018–2019) and had his highest-grossing releases in the action films Tanhaji (2020) and Devara: Part 1 (2024).

Khan has been noted for his roles in a range of film genres—from crime dramas to action thrillers and comic romances. In addition to film acting, Khan is a frequent television presenter, stage show performer, and the owner of the production companies Illuminati Films and Black Knight Films. 
"""
pattern = r'ai'
matches = re.finditer(pattern,txt)
for match in matches:
    print(match)

<re.Match object; span=(1, 3), match='ai'>
<re.Match object; span=(616, 618), match='ai'>
<re.Match object; span=(688, 690), match='ai'>
<re.Match object; span=(718, 720), match='ai'>
<re.Match object; span=(726, 728), match='ai'>
<re.Match object; span=(806, 808), match='ai'>
<re.Match object; span=(1005, 1007), match='ai'>
<re.Match object; span=(1311, 1313), match='ai'>

In [1]:
import seaborn as sns
import pandas as pd

In [2]:
df = sns.load_dataset('titanic')
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True